body {
    background-color: rgba(3, 6, 36, 0.57);
    margin: 0;
}

main {
    width: 100%;
    height: 100%;
    background-color: rgb(3, 6, 36);
}

nav {
    background-color: white;
    display: grid;
}

.grid-cont {
    grid-template-columns: repeat(3, auto);
}

.pic {
    border-right: 5px solid black;
    width: 100%;
    text-align: center;
}

img {
    width: 50px;
    height: auto;
}

.pic:last-child {
    border: 0;
}

section {
    width: 100%;
    height: 850px;
    display: block;
}

.hidden {
    display: none;
}

.bio {
    background-color: rgb(3, 6, 36);
}

.logo {
    align-self: center;
    justify-self: center;
    width: 25%;
    height: auto;
}

.logocont {
    width: 100%;
    height: 100%;
    display: grid;
}

.corespMatrix {
    background-color: darkblue;
}

.sidebar {
    height: 70px;
    width: 250px;
    position: fixed;
    top: 45%;
    bottom: 55%;
    right: -240px;
    z-index: 999;
    background-color: white;
    transition: 0.5s;
    border-radius: 15px;
    margin-right: 10px;
}

form {
    margin-top: 20px;
    margin-left: 20px;
}